---
layout: base
---

<nav class="navbar">
    <a class="navlink" href="/">Home</a>
    {%- for navpage in collections.pages | sort(true, false, "order") -%}

        {% if navpage.data.navbar %}
            {% if page.url != navpage.url %}
                <a href="{{ navpage.url }}" {{ "disabled" if navpage.data.disabled else "" }}  class="navlink">{{ navpage.data.title }}</a>
            {% endif %}
        {% endif %}

    {%- endfor -%}
</nav>

<main>
    {{ content | safe }}
</main>